*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #8070f5, #000000);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 7vw;
    margin: 20px 0px;
    color: #f1f1f1;
}
h2 {
    text-align: center;
    font-size: 2vw;
    margin-top: 20px;
}
.affichage {
    background: #f1f1f1;
    margin: 50px auto;
    width: 70%;
    max-width: 900px;
    min-width: 500px;
    display: flex;
}
.bloc {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    padding: 40px;
}

.bloc p:nth-child(1) {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 15px;
}
.bloc:nth-child(1) {
    border-right: 1px solid #333;
}

.container-btns {
    margin: 0 auto;
    width: 70%;
    max-width: 900px;
    min-width: 500px;
    display: flex;
    justify-content: center;

}

.btn {
    display: block;
    padding: 18px;
    font-size: 25px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
}